// Background colors
$bg-color: rgb(246, 246, 247);
$bg-dot-color: rgb(203, 203, 205);

// Background dimensions
$dot-size: 2px;
$dot-space: 30px;

html {
  // Scroll background
  background-color: $bg-color;
}

body {
  // Fix spacing
  margin: 0px;
  padding: 0px;

  // Font
  font-feature-settings: "ss01";
  text-rendering: optimizeLegibility;
  font-family: "Inter", sans-serif;

  // Background
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(246, 246, 247);
  background: linear-gradient(
        90deg,
        $bg-color ($dot-space - $dot-size),
        transparent 1%
      )
      center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $bg-dot-color;
  background-size: $dot-space $dot-space;
}

button,
input {
  // Font override
  font-feature-settings: "ss01";
  text-rendering: optimizeLegibility;
  font-family: "Inter", sans-serif;
}
